body{
	font-size: 16px;
	color: #fff;
	background-color: #BC6BE8;
}

/* Header */
#header-nav{
	background-color: green;
	border-radius: 0;
	border: 0;
	height: 70px;
}

.navbar-brand h1{
	font-family: times;
	color: orange;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-default .navbar-toggle {
	border-color: orange;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: orange;
}


#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	background-color: orange;
}

#nav-list a:hover{
	background: #e7e7e7;
	color: #000;
	text-shadow: none;
}

/* Main Content */

.container .row{
	background-color: green;
}

#our-menu{
	color:#000;
	padding-bottom: 30px;
}

section p{
	font-family: times;
	font-size: 1.1em;
	text-align: justify;
}